/* line 1, ../sass/components/_banner.scss */
#banner-header {
  background: url("../../../../sites/default/files/2023-04/banner-main.png");
  background-position: top;
  background-size: cover;
  height: 170vh;
  width: 100%;
}
